pageObjResp/pageSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		targetNamespace="http://www.example.org/pageSchema" 
		xmlns:tns="http://www.example.org/pageSchema" elementFormDefault="qualified">
		
	<element name="pages">
		<complexType>
			<sequence maxOccurs="unbounded">
				<element name="pageMapping">
					<complexType>
						<simpleContent>
							<extension base="string">
								<attribute name="pageName" use="required"></attribute>
							</extension>
						</simpleContent>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
	
	
</schema>